db/user_stats/*
db/data.json
db/minecraft.json
db/money.json
db/shop_current.json
db/crocodile_stat.json
db/bot.session
db/bot.session-journal
db/shop_current.json

images/*
logs/*

update/mods/*
update/prog/*

test.py
test.txt

**/__pycache__/

tokens.yml