db/chat_stats/*
db/states/*
db/data.json
db/minecraft.json
db/money.json
db/shop_current.json
db/crocodile_stat.json
db/bot.session
db/bot.session-journal
db/shop_current.json
db/tickets.json
db/crocodile/*
db/timings/*
db/users/*

backup/states/*

images/*

update/mods/*
update/prog/*

charts/*

test.*

**/__pycache__/
.venv
.env

map.html
tokens.yml