db/chat_stats/*
db/states/*
db/data.json
db/minecraft.json
db/money.json
db/shop_current.json
db/crocodile_stat.json
db/bot.session
db/bot.session-journal
db/shop_current.json
db/tickets.json
db/crocodile/*
db/timings/*
db/users/*
db/notes/*
db/cities/*

backup/states/*

images/*
charts/*

test.*

**/__pycache__/
.venv
.env
.vscode

map.html
tokens.yml

venv