loguru
matplotlib
seaborn
bestconfig
pymorphy3
psutil
cryptography
orjson
telethon
cryptg
pip-review

aioping
aiofiles
aiohttp
asyncmy
uvloop

#! wintmp==1.2.0 Только при использовании Windows
